<launch>
    <include file = "$(find turtlebot_gazebo)/launch/turtlebot_world.launch"> 
    	<arg name="world_file" value = "$(find turtlebot_walker)/world/ridiculousWorld.world"/>
    </include>
    <arg name="record" default="false" />
    <arg name="rate" default="1" />
    <arg name="broadcast" default="1" />
    <node pkg="turtlebot_walker" type="walker_node" name="walker_node" output="screen">
    <param name="txrate" value="$(arg rate)" />
    <param name="txstat" value="$(arg broadcast)" />
</node>

     <node pkg="rosbag" type="record" name="record"
       args="-a -x /camera(.*) -O $(find turtlebot_walker)/results/walker.bag" output="screen"
       if="$(arg record)" />

</launch> 
